

#first-id {
    color: rgb(255, 4, 0);
}

.first-class {
    color: blueviolet;
    font-size: 30px;
}

.texto
{
    color: green;
    padding-left: 7%;
    margin-top: 8%;
    background-color: black;
    
}

.dos{
    color: violet;
    font-size: 100%;
    padding-left: 7%;
    margin-top: 8%;
    background-color: black;
}

.tres {
    font-size: 200%;
  
}

.content {
    display: flex;
    justify-content:center ;

    

}

.item{
    display: flex;
    justify-content: center;
   
}

.action{
     
    display: flex;
    justify-content: center;
    
}
#img {
    height: 400px;
}

.card-group{
    
     display: flex;
    justify-content: center;
    width: 52%;
    margin-left: 23%;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #000 !important ;  }